/*===================================================
============== Import Files   =========================
=====================================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*===================================================
============== COMMON CSS   =========================
=====================================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    transition: 0.3s;
    text-decoration: none;
    color: #1e266d;
}
a:hover{
    transition: 0.3s;
    color: #00AEEF;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.log-btn {
    padding: 11px 20px;
    font-size: 15.2px;
    margin: 0.2px;
    color: #fff;
    background-color: #2e367d;
    text-decoration: none;
    transition: 0.3s;
}
.custom-btn{
    
        padding: 13px 30px;
        border-radius: 8px;
        font-size: 16px;
    
    margin: 0 2px;
    color: #fff;
    letter-spacing: 1px;
    line-height: 25px;
    background-color: #2e367d;
    text-decoration: none;
    transition: 0.3s;
}
.custom-btn:hover,.log-btn:hover{
    background-color: #00AEEF;
    color: #fff;

}
header, section, footer{
    width: 100%;
    height: fit-content;
}
.bg-color-gray{
    background-color: #f5f7fa;
}
/*==============================================
===============Header area style   ==============
================================================*/
header#header_area {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #fff;
}

#header_area #header-area-inner {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 103.44px;
    padding: 0px 0;
}

 /* LOGO  */
 #header_area #header-area-inner  #logo .logo_area {
    padding: 10px 0 14px;
    height: 100px;
}
#logo  img {
    width: auto;
    height: 100%;
}


/*==============================================
===============Navbar style   ==================
================================================*/
#nav {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
#nav ul ul{

    text-align: left;
}

#nav ul li{
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}
   
#nav ul li a {
    margin: 0;
    display: inline-block;
    padding: 10px 9px;
    color: #1e266d;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
}
#nav ul li a:hover{
    color: #00AEEF;
    /* for default bg color */
}

#nav ul ul li:hover a{
    background-color: #10b943;
}

/* Dorpdown Menu  */
#nav ul ul {
    position: absolute;
    min-width: 200px;
    top: 100%;
    overflow: hidden;
    left: 0;
    z-index: 99999;
    display: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 8px;
}

#nav ul li:hover > ul{
    display: block;
}
#nav ul ul li{
    display: block;
}
#nav ul ul li a{
    
    display: block;
}

#nav ul ul li:hover a{
    background-color: #f8f9fa;
}
#nav ul ul ul li:hover a{
    background-color: #f8f9fa;
}
#nav ul ul ul{
    top: 0;
    left: 100%;
}

.menu-btn{
    display: none;
}
.menu-btn a {
    text-decoration: none;
    font-size: 28px;
    color: #1e266d;
}
.menu-btn a:hover {
    
    color: #00AEEF;
}
.live-menu-link{
    text-transform: uppercase !important;
}
.live-menu-link::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: red;
    margin-top: -5px;
    border-radius: 50%;
}
/*==============================================
===============tab content style   ==================
================================================*/
#tab_content h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.1em;
    color: #07324f;
}
/*==============================================
===============Product card style   ==================
================================================*/
.product_card{
    margin-top: 30px;
}
.product_card .main-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.product_card .card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
}
.product_card .card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
}
.product_card .card .box1 span {
    position: absolute;
    z-index: 2;
    right: 0;
    border-radius: 0 0 5px 5px;
    margin-right: 20px;
    padding: 5px 13px;
    background-color: #4FC68D;
    color: #fff;
}
.product_card .card .box1 img {
    width: 100%;
    height: 100%;
}
.product_card .card .box2{
    
}
.product_card .card .box2 .inner-box {
    position: relative;
    top: -25px;
    width: 93%;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 10px;
    box-shadow: 0 8px 28px 2px rgba(61, 61, 61, 0.07);
    border-radius: 10px;
    transition: 0.6s;
}
.product_card .card .box2 .inner-box:hover {
    top: -15px;
}
.product_card .card .box2 .inner-box h4 {
    font-size: 1.1em;
}
.product_card .card .box2 .inner-box ul {
    margin: 0;
    padding: 0;
    
}
.product_card .card .box2 .inner-box ul li{
    margin: 0;
    padding: 0;
    display: block;

}
.product_card .card .box2 .inner-box a {
    margin-right: 7px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 15px;
    position: absolute;
    display: inline;
    right: 0;
    bottom: 0;
    color: #000;
    background-color: #fff;
    border: 1px solid gray;
}
.product_card .card .box2 .inner-box a:hover {
    background-color: #1DAEF0;
    border-color: #1DAEF0;
}

/*==============================================
===============Banner_area Section style   ==================
================================================*/
section#banner_area {
    padding: 30px 0;
}
#banner_area .main-box {
    display: flex;
    height: 500px;
    justify-content: space-between;
}
#banner_area .main-box .child-box {
    
}

#banner_area .left-box {
    flex-basis: 45%;
}
#banner_area .left-box h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    padding-top: 95px;
    color: #1e266d;
    margin-bottom: 0;
}
#banner_area .left-box p {
    font-size: 22px;
    color: #1e266d;
    line-height: 28px;
    font-weight: 300;
    margin: 20px 0;
    width: 99%;
}
#banner_area .left-box a {
    margin-top: 5px;
    border-radius: 10px;
    display: inline-block;
}
#banner_area .main-box .right-box {
    position: absolute;
    top: 117px;
    width: 787px;
    right: 174px;
}
#banner_area .main-box .right-box img {
    
   
}

/*==============================================
=============== Featured_area section style   ==
================================================*/
#featured_area {
    padding-top: 15px;
    padding-bottom: 40px;
}
#featured_area .main-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#featured_area .main-box .child-box {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    
}
#featured_area .main-box .child-box .inner-child-left {
    padding-left: 15px;
    font-size: 30px;
}
#featured_area .main-box .child-box .inner-child-right {
    padding: 10px;
}
#featured_area .left-box {
    
    background-color: #f9799a;
}
#featured_area .middle-box {
    background-color: #61c4d8;
    margin-right: 20px;
    margin-left: 20px;
}
#featured_area .right-box {
    background-color: #1e266d;
}
#featured_area .main-box .child-box h3 {
    font-size: 18px;
    font-Weight: 700;
}
#featured_area .main-box .child-box p {
    color: #fff;
    font-size: 15px;
}

/*==============================================
===============project_based Section style   ==================
================================================*/
section#project_based {
    padding-top: 40px;
}
#project_based .main-box {
    display: flex;
    padding-bottom: 78px;
    justify-content: space-between;
}
#project_based .main-box .child-box{
   
}
#project_based .main-box .left-box {
    flex-basis: 46%;
}

#project_based .left-box h5 {
    color: #171f3c;
    font-size: 24px;
    line-height: 30px;
    padding-top: 30px;
    font-weight: 300;
}
#project_based .left-box h1 {
    font-size: 45px;
    color: #07324f;
    line-height: 46px;
    margin-bottom: 20px;
    font-weight: 700;
}
#project_based .left-box p {
    color: #526375;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
    width: 93%;
}
#project_based .left-box a {
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
}
#project_based .main-box .right-box {
    
    
}
#project_based .main-box .right-box img {
    
   
}

/*==============================================
===============support_section Section style   ==================
================================================*/
#support_section{
    background-color: #f5f7fa;
}
#support_section .main-box {
    padding: 0 10px;
    display: flex;
    height: 500px;
    justify-content: space-between;
    align-items: center;

}
#support_section .main-box .child-box.left-box{
   width: 60%;
}
#support_section .main-box .child-box.right-box{
   width: 40%;
}

#support_section .right-box h5 {
    color: #171f3c;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 30px;
    font-weight: 300;
}
#support_section .right-box h1 {
    font-size: 45px;
    color: #07324f;
    line-height: 46px;
    margin-bottom: 20px;
    font-weight: 700;
}
#support_section .right-box p {
    color: #526375;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
    
}
#support_section .right-box a {
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
}
#support_section .main-box .left-box {
    
    
}
#support_section .main-box .left-box img {
    width: 100%;
    height: auto;
   
}


/*==============================================
===============earning_section Section style   ==================
================================================*/
#earning_section {
    background-color: #fafafa;
    padding-bottom: 20px;
}
#earning_section .main-box {
    padding: 0 10px;
    display: flex;
    height: 500px;
    justify-content: space-between;
    align-items: center;

}
#earning_section .main-box .child-box.right-box{
   width: 60%;
}
#earning_section .main-box .child-box.left-box{
   width: 40%;
}

#earning_section .left-box h5 {
    color: #171f3c;
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
    line-height: 30px;
    font-weight: 300;
}
#earning_section .left-box h1 {
    font-size: 45px;
    color: #07324f;
    line-height: 46px;
    margin-bottom: 20px;
    font-weight: 700;
    
}
#earning_section .left-box p {
    font-size: 16px;
    color: #526375;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
    
}
#earning_section .left-box a {
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
}
#earning_section .main-box .right-box {
    
    
}
#earning_section .main-box .right-box img {
    width: 100%;
    height: auto;
   
}

/*==============================================
===============privalge_card_section Section style   ==================
================================================*/

#privalge_card_section {
    background-color: #f5f7fa;
    padding-top: 110px;
    padding-bottom: 50px;
}
#privalge_card_section .main-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#privalge_card_section .main-box .child-box.left-box{
   width: 60%;
}
#privalge_card_section .main-box .child-box.right-box{
   width: 40%;
}

#privalge_card_section .right-box h5 {

        color: #171f3c;
        font-size: 24px;
        display: block;
        margin-bottom: 10px;
        line-height: 30px;
        font-weight: 300;
    
}
#privalge_card_section .right-box p {
    font-size: 16px;
    color: #526375;
    line-height: 28px;
    font-weight: 300;
    width: 80%;
    margin-top: 0;
    margin-bottom: 30px;
}
#privalge_card_section .right-box p {
    color: #526375;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
    width: 82%;
}

#privalge_card_section .right-box a {
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
}
#privalge_card_section .main-box .left-box {
    
    
}
#privalge_card_section .main-box .left-box img {
    width: 95%;
    height: auto;
    padding: 50px;
    margin: 0 auto;
   
}


/*==============================================
===============life_changing_section Section style   ==================
================================================*/
section#life_changing_section {
    margin: 50px 0;
}
#life_changing_section .main-box {
    
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

#life_changing_section .main-box .child-box.left-box{
   width: 100%;
}
#life_changing_section .main-box .child-box.right-box{
    display: flex;
   width: 100%;
   color: gray;
}

#life_changing_section .main-box > h1 {
    font-size: 45px;
    color: #07324f;
    line-height: 46px;
    margin-bottom: 20px;
    font-weight: 700;
}
#life_changing_section .main-box .right-box i {
    padding: 8px 0;
    font-size: 2.6em;
    font-weight: 700;
    
    width: 70%;
    margin-bottom: 10px;
}
#life_changing_section .main-box .right-box h5 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 26px;
}
#life_changing_section .main-box .right-box p {
    font-size: 16px;
    
    line-height: 28px;
    font-weight: 300;
    margin: 10px 0;
    width: 90%;
}
#life_changing_section .main-box .right-box a {
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
}
#life_changing_section .main-box .left-box {
    
    
}
#life_changing_section .main-box .left-box img {
    width: 100%;
    height: auto;
    margin: 0 auto;
   
}
#life_changing_section .main-box .right-box .tab-pan-box1{
    border-top: 5px solid #01AEEF;
}
#life_changing_section .main-box .right-box .tab-pan-box2{
    border-top: 5px solid #E94524;
}
#life_changing_section .main-box .right-box .tab-pan-box3{
    border-top: 5px solid #F9AC1A;
}
#life_changing_section .main-box .right-box .tab-pan-box4{
    border-top: 5px solid #2D9470;
}
#life_changing_section .main-box #myTab .tab-pan-box1.active{
    color:  #01AEEF;
}
#life_changing_section .main-box #myTab .tab-pan-box2.active{
    color:  #E94524;
}
#life_changing_section .main-box #myTab .tab-pan-box3.active{
    color:  #F9AC1A;
}
#life_changing_section .main-box #myTab .tab-pan-box4.active{
    color:  #2D9470;
}
/*=================================
===========video_section style ====
===================================*/
#video_section{
    margin-top: 20px;
}
#video_section .main-box{
    height: 600px;
}
#video_section .main-box iframe{
    width: 100%;
    height: 100%;
}
/*=================================
===========Footer area style ====
===================================*/
#success_story {
    padding-top: 60px;
    padding-bottom: 0;
}
#success_story .main-box {
    padding: 50px 0;
}
#success_story .left-box {
    width: 100%;
}
#success_story .right-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#success_story .title h2 {
    font-size: 45px;
    color: #07324f;
    line-height: 46px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
}
#success_story .title p {
    font-size: 17px;
    color: #526375;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    width: 46%;
    margin: 0 auto;
}
#success_story .carousel-item-text::before {
    content: "";
    background-image: url("../img/quote.png");
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    position: absolute;
    margin-left: -34px;
    margin-top: -82px;
}
#success_story .carousel-item-text::after {
    content: "";
    background-image: url("../img/quote.png");
    background-size: 80px 80px;
    width: 80px;
    background-repeat: no-repeat;
    height: 80px;
    
    left: 89%;
    bottom: 111px;
    position: absolute;
}
#success_story .carousel-item .carousel-item-img {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    overflow: hidden;
    margin: 35px;
    width: 350px;
    box-shadow: 0px 0px 29px rgb(88 85 85 / 25%);
    flex-basis: 30%;
    height: 350px;
}
#success_story .carousel-item .carousel-item-text {
    flex-basis: 70%;
    padding: 20px;
}
#success_story .carousel-item .carousel-item-text p {
    font-size: 16px;
    text-align: justify;
    color: #585656;
    font-weight: 300;
}

#success_story .carousel-item .carousel-item-img img.img {
    text-align: center;
    width: 100% !important;
    height: auto;
}

#success_story .carousel-inner-item {
    display: flex;
    justify-content: start;
    align-items: center;
}



#success_story .carousel-indicators {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 0 !important;
} 
#success_story .carousel-indicators [data-bs-target] {
    box-sizing: inherit;
    flex: inherit;
    
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: inherit;
    cursor: pointer;
    background-color: inherit;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: inherit;
    transition: opacity .6s ease;
}
#success_story .carousel-indicators-item {
    width: 80px;
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
}
#success_story .carousel-indicators-item:hover {
    background-color: #fff;
    opacity: 0.5;
}
.carousel-control-next, .carousel-control-prev {
    color: #000 !important;
    
  
}
.carousel-control-next:hover, .carousel-control-prev:hover {
    color: #fff;
    background-color: rgb(0 0 0 / 15%) !important;
  
}


.carousel-inner {

    
}

/*=================================
===========fixed-section style ====
===================================*/
#fixed-section {
    position: fixed;
    z-index: 999999;
    bottom: 0;
    right: 0;
    width: fit-content;
    margin-right: 20px;
    margin-bottom: 20px;
}
#fixed-section .main-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#fixed-section .child{
    display: inline-block;
    object-fit: contain;
    margin: 0 8px;
    

   
}
#fixed-section .child a{
    background-color: #1e266d;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    color: #fff;
    
    

}
#fixed-section .child a.btn {
    padding: 4px 15px;
    border-radius: 8px;
}
#fixed-section .child a.btn-round {
    border-radius: 50%;
    padding: 8px 12px;
}
/*=================================
===========Footer area style ====
===================================*/
#footer_area{
    margin-top: 20px;
}
#footer_area #contact_info, #footer_area #footer_nav, #footer_area #ssl_img, #footer_area #copyrights{
    margin-top: 25px;
}
#footer_area #footer_nav{
    margin-top: 60px;
}
#footer_area #contact_info .main-box{
    display: flex;
    background-color: #2e367d;
    color: #fff;
    border-radius: 20px;
    line-height: 30px;
}
#footer_area #contact_info .main-box .child-box{
    padding: 50px;
}
/* footer nav  */
#footer_area #footer_nav .main-box{
   display: flex;
}
#footer_area #footer_nav .main-box h5 {
    color: #1e266d;
    font-weight: 700;
    font-size: 16px;
}
#footer_area #footer_nav .main-box p{

   font-size: 16px;
   color: #91a3bb;
   line-height: 30px;
}
#footer_area .footer_menu ul{
   margin: 0;
   padding: 0;
   list-style: none;
}
#footer_area .footer_menu ul li{
   margin: 0;
   padding: 0;
   list-style-type: none;
}
#footer_area .footer_menu ul li a{
   text-decoration: none;
   font-size: 16px;
   line-height: 30px;
   color: #91a3bb;
}
#footer_area .footer_menu ul li a:hover{
   color: #00AEEF;
}
#footer_area #footer_nav .main-box .child-box {
    width: 33.33%;
    padding-right: 15px;
}
/* copyrights section  */
#footer_area #copyrights p{
   text-align: center;
   color: gray;
}


/*=========================
    Courses page
==========================*/
/* page control section  */
.page_control {
    margin: 25px 0;
}
.page_control .main-box{
    display: flex;
    justify-content: space-between;
}
.page_control #nav{
    
    border: 1px solid lightgray;

}
.page_control #nav li a{
    text-transform: capitalize;

}
.page_control #nav li a:hover{
    background-color: #1e266d;
    color: #fff;
}
.page_control #nav li a.active{
    background-color: #1e266d;
    color: #fff;

}

/*===========================================
   Our Mentors Page
   ==============================================*/

#mentors_nav{
    background-color: #1e266d;
}
#mentors_nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#mentors_nav ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#mentors_nav ul li a{
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    width: 100%;
    color: #fff;
}
#mentors_nav ul li a:hover{
background-color: #00AEEF;
}
#mentors_nav ul li a.active{
background-color: #00AEEF;
}
.mentors-profile {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}
.mentors-profile .profile-details{
    background-color: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.mentors-profile .profile-details .details {
    padding: 15px;
}
.mentors-profile .profile-details .pic{
    height: 233px;
    overflow: hidden;
}

.mentors-profile .profile-details .pic img{
    height: fit-content;
}
.mentors-profile .profile-details h3 {
    text-align: center;
    color: #0c2f54;
    font-size: 18px;
    padding: 3px 0;
    margin: 0;
    font-weight: 800;
}
.mentors-profile .profile-details p {
    text-align: center;
    color: #0c2f54;
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
}
.mentors-profile .profile-details a{
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
   
}

.owl-carousel-item {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    width: 270px;
    margin-right: 0px;
}
.owl-carousel-item .icon {
    width: 53%;
    margin: 0 auto;
}
.owl-carousel-item .icon img {

}
.owl-carousel-item p{
 text-align: center;

}
/*-===========================================
Privilege Card
==============================================*/

#privilege-card-preview{
    margin: 40px 0;
}
#privilege-card-preview .text-box{
    
}
#privilege-card-preview .text-box h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    text-align: left;
    line-height: 56px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #1e266d;
    margin-bottom: 20px;
}
#privilege-card-preview .text-box p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #4e4e4e;
    margin-right: 60px;
    margin-bottom: 40px;
}
#privilege-card-preview .text-box a{
    
}
#privilege-card-preview .image-box{
    
}
#privilege-card-preview .image-box img{
    
}
#privilege-tab-control .heading{
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
    color: #1e266d;
    margin-bottom: 24px;
}
#privilege-tab-control .tab-items {
    padding: 20px;
    border: none;
    display: block;
    text-align: center;
}
#privilege-tab-control .tab-items .item {
    font-size: 18px;
    padding: 12px 60px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid gray;
    color: #585656;
    margin: 8px;
    font-weight: 300;
    border-radius: 5px;
    text-decoration: none;
}
#privilege-tab-control .tab-items .item.active {
    background-color: #1e266d;
    color: #fff;
}
.privilege-partners {
    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.privilege-partners .partner-item{
    padding: 20px;
    background-color: #fcfcfc;
}
.privilege-partners .partner-item .img-box {
    
    text-align: center;
}
.privilege-partners .partner-item .img-box .img{
    width: 100%;
    height: fit-content;
}
.privilege-partners .partner-item .details{
    text-align: center !important;
}
.privilege-partners .partner-item .details h5{
    margin:8px 0;
}
.privilege-partners .partner-item .details p{
    margin:5px 0;
}
.privilege-partners .partner-item .details a{
    margin:5px 0;
    text-decoration: none;
    color: #00AEEF;
}
.privilege-partners .partner-item .details a:hover{
    color: #07324f;
}
/* form style  */
.sigin-form h1 {
    color: #1e266d;
    font-size: 34px;
    line-height: 1.3em;
    margin-bottom: 0;
}
.sigin-form p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.8em;
    color: #9b9b9b;
    font-weight: 500;
}
.sigin-form .input-group {
    display: block !important;
    margin: 20px 0;
}
.sigin-form .input-group input {
    font-size: 18px;
    padding: 15px;
    width: 100%;
    border: 1px solid #ddd;
}
.sigin-form .input-group input::placeholder{
    font-size: 18px;
    color: #9b9b9b;
}
.sigin-form .input-group input:focus-visible {
    transition: 0.5s;
    outline: none;
    border: none;
    border-radius: inherit;
    border: 1px solid #000;
}
.sigin-form .input-group input[type=submit] {
    width: fit-content;
    display: inline-block;
    padding: 12px 50px;
}
.sigin-form .input-group a{
    text-transform: capitalize;
    color: #2e367d;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s ease-in-out;
}
.sigin-form .input-group a:hover{

    color: #00AEEF;
    transition: 0.2s ease-in-out;
}
/*=========================
    Signin page
==========================*/
#signin-section {
    padding: 167px 0;
}
#signin-section .main-box{
    display: flex;
}
#signin-section .main-box .image-box {
    flex-basis: 56%;
}
#signin-section .main-box .image-box img{}
#signin-section .main-box .sigin-form {
    flex-basis: 44%;
    padding-left: 30px;
}


/*=========================
    Signup page
==========================*/
#signup-section {
    padding: 167px 0;
}
#signup-section .main-box{
    display: flex;
}
#signup-section .main-box .image-box {
    flex-basis: 56%;
}
#signup-section .main-box .image-box img{}
#signup-section .main-box .sigin-form {
    flex-basis: 44%;
    padding-left: 30px;
}

/*=========================
    Reset page
==========================*/
#reset-section {
    padding: 167px 0;
}
#reset-section .main-box{
    display: flex;
}
#reset-section .main-box .image-box {
    flex-basis: 56%;
}
#reset-section .main-box .image-box img{}
#reset-section .main-box .sigin-form {
    flex-basis: 44%;
    padding-left: 30px;
}
#reset-section .sigin-form .input-group input[type=submit] {
    width: 100%;
}